skills-generator/src/main/resources/schemas/skill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Root: skill definition (aligns with SKILL.md frontmatter and system prompt structure) -->
  <xs:element name="skill">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="metadata"/>
        <xs:element ref="title"/>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element ref="goal"/>
        <xs:element ref="constraints" minOccurs="0"/>
        <xs:element ref="scope" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="reference" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="interactive" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>

  <!-- Metadata (maps to frontmatter) -->
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="author" type="xs:string" minOccurs="0"/>
        <xs:element name="version" type="xs:string" minOccurs="0"/>
        <xs:element name="license" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Title: H1 heading -->
  <xs:element name="title" type="xs:string"/>

  <!-- Description: "Use when..." trigger text for AI skill matching -->
  <xs:element name="description" type="xs:string"/>

  <!-- Goal: short description of what the skill achieves -->
  <xs:element name="goal" type="xs:string"/>

  <!-- Constraints (aligns with system prompt constraints structure) -->
  <xs:element name="constraints">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="constraints-description" type="xs:string" minOccurs="0"/>
        <xs:element name="constraint-list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="constraint" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Scope block(s) -->
  <xs:element name="scope">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type" use="optional">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="multi-step"/>
                <xs:enumeration value="reference-based"/>
                <xs:enumeration value="before-asking"/>
                <xs:enumeration value="before-applying"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!-- Reference: link to detailed reference doc -->
  <xs:element name="reference">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="path" type="xs:string" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
