plinth-agents-generator/src/main/resources/agents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- Root element for an agent definition document -->
    <xs:element name="agent">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="metadata"/>
                <xs:element ref="role"/>
                <xs:element ref="goal"/>
                <xs:element ref="constraints" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="steps" minOccurs="0"/>
                <xs:element ref="output-format" minOccurs="0"/>
                <xs:element ref="safeguards" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Metadata section (equivalent to YAML frontmatter) -->
    <xs:element name="metadata">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="authors" minOccurs="0"/>
                <xs:element ref="version" minOccurs="0"/>
                <xs:element ref="license" minOccurs="0"/>
                <xs:element ref="title"/>
                <xs:element ref="description"/>
                <xs:element ref="model" minOccurs="0"/>
                <xs:element ref="readonly" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="author" type="xs:string"/>
    <xs:element name="authors">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="author" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="version" type="xs:string"/>
    <xs:element name="license" type="xs:string"/>
    <xs:element name="title" type="xs:string"/>
    <xs:element name="description" type="xs:string"/>
    <xs:element name="model" type="xs:string"/>
    <xs:element name="readonly" type="xs:boolean"/>

    <!-- System role -->
    <xs:element name="role" type="xs:string"/>

    <!-- Goal statement (mission / responsibility Markdown body, typically CDATA) -->
    <xs:element name="goal">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Constraints block -->
    <xs:element name="constraints">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="constraints-description" minOccurs="0"/>
                <xs:element ref="constraint-list"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="constraints-description" type="xs:string"/>

    <xs:element name="constraint-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="constraint" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="constraint" type="xs:string"/>

    <!-- Steps container -->
    <xs:element name="steps">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="step" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Individual step -->
    <xs:element name="step">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="step-title"/>
                <xs:element ref="step-content"/>
                <xs:element ref="step-constraints" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="number" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="step-title" type="xs:string"/>
    <xs:element name="step-content">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Step constraints -->
    <xs:element name="step-constraints">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="step-constraint-list"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="step-constraint-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="step-constraint" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="step-constraint" type="xs:string"/>

    <!-- Output format section -->
    <xs:element name="output-format">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="output-format-list" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="output-format-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="output-format-item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="output-format-item" type="xs:string"/>

    <!-- Safeguards section -->
    <xs:element name="safeguards">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="safeguards-list" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="safeguards-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="safeguards-item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="safeguards-item" type="xs:string"/>
</xs:schema>
