plinth-commands-generator/src/main/resources/commands.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- Root element for a single command definition document (inventory stays in commands.xml). -->
    <xs:element name="command">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="purpose"/>
                <xs:element ref="usage"/>
                <xs:element ref="accepted-inputs"/>
                <xs:element ref="owning-agent" minOccurs="0"/>
                <xs:element ref="delegation" minOccurs="0"/>
                <xs:element ref="ownership" minOccurs="0"/>
                <xs:element ref="associations" minOccurs="0"/>
                <xs:element ref="tool-selection" minOccurs="0"/>
                <xs:element ref="workflow-position" minOccurs="0"/>
                <xs:element ref="execution-contract" minOccurs="0"/>
                <xs:element ref="branch-worktree-gate" minOccurs="0"/>
                <xs:element ref="workflow"/>
                <xs:element ref="output" minOccurs="0"/>
                <xs:element ref="safeguards"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="kind" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="standard"/>
                        <xs:enumeration value="delivery"/>
                        <xs:enumeration value="performance"/>
                        <xs:enumeration value="cli"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="slash" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <!-- Mixed text blocks for Markdown-heavy sections -->
    <xs:complexType name="MixedText" mixed="true">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MixedTextWithHeading" mixed="true">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="heading" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:element name="purpose" type="MixedText"/>
    <xs:element name="usage" type="MixedText"/>
    <xs:element name="workflow-position" type="MixedText"/>
    <xs:element name="tool-selection" type="MixedTextWithHeading"/>

    <xs:element name="accepted-inputs">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="input" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="heading" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="input">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="optional" type="xs:boolean" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="note" type="MixedText"/>

    <xs:element name="owning-agent">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="heading" type="xs:string" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="delegation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="heading" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="ownership">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="heading" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="associations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="association" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="heading" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="association">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="refkind" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="skill"/>
                                <xs:enumeration value="capability"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="when" type="xs:string" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="execution-contract">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="heading" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="branch-worktree-gate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="heading" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="workflow">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="step" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="heading" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="step">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="number" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="output">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="heading" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="safeguards">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="heading" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="item" type="MixedText"/>
</xs:schema>
